.entitiesList {
    &__item {
        align-items: center;
        user-select: none;
        list-style: none;
        cursor: pointer;
        display: flex;

        &:hover {
            color: blue;
        }
    }

    &__icon {
        margin-right: 10px;
    }
}
