body {
    background: #E7E7E7;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.pageHeader {
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid;
    background: #FFF;
    font-size: 30px;
    display: block;
    padding: 10px;
}

.pageBody {
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}
